<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Document{% endblock %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'list_projects' %}">My projects</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">logout</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if not user.is_authenticated %}
                            <a href="{% url 'login' %}">login</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if not user.is_authenticated %}
                            <a href="{% url 'signup' %}">signup</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        {% block main %}{% endblock %}
    </body>
</html>
