{% extends 'tasks/base.html' %}

{% block title %}My Tasks{% endblock %}
{% block main %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                {% if task.is_completed %}<td>yes</td>{% endif %}
                                {% if not task.is_completed %}<td>no</td>{% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if not task_list %}<p>You have no tasks</p>{% endif %}
        </div>
    </main>
{% endblock %}
