{% extends 'tasks/base.html' %}

{% block title %}My Projects{% endblock %}
{% block main %}
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url 'create_project' %}">Create a new project</a>
            {% if project_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' id=project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% if not project_list %}<p>You are not assigned to any projects</p>{% endif %}
        </div>
    </main>
{% endblock %}
